@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #eee2dc;
	font-family: 'Vibur', cursive;
	font-family: 'Abel', sans-serif;
	opacity: .95;
}

form {
	width: 450px;
	min-height: 500px;
	height: auto;
	border-radius: 5px;
	margin: 22% auto;
	box-shadow: 0px 9px 50px hsla(20, 67%, 75%, 0.31);
	padding: 2%;
	background-color: #edc7b7;
}

form .con {
	margin: 0 auto;
}

header {
	margin: 2% auto 10% auto;
	text-align: center;
}

header h2 {
	font-size: 200%;
	font-family: 'Abel', serif;
	color: #3e403f;
}

header p {letter-spacing: 0.05em;}

input[class="form-input"] {
	width: 240px;
	height: 50px;

	margin-top: 2%;
	padding: 15px;

	font-size: 16px;
	font-family: 'Abel', sans-serif;
	font-color: #5e6472;

	outline: none;
	border: none;

	border-radius: 5px 5px 5px 5px;
	transition: 0.2s linear;
}

input[id="txt-input"] {width: 250px;}

input:focus {
	transform: translateX(-2px);
	border-radius: 5px;
}

.submits {
	width: 48%;
	display: inline-block;
	float: left;
	margin-left: 2%;
}

input[id="submit"] {
	display: inline-block;
	color: #252537;

	width: 120px;
	height: 50px;

	padding: 0 20px;
	background: #fff;
	border-radius: 5px;

	font-size: 16px;
	font-family: 'Abel', sans-serif;
	font-color: #5e6472;

	outline: none;
	border: none;

	cursor: pointer;
	text-align: center;
	transition: all 0.2s linear;

	margin: 7% auto;
	margin-left: 72px;
	letter-spacing: 0.05em;
}

input[id="submit"]:hover {
	animation: ani9 0.4s ease-in-out infinite alternate;
}

input[id="cancel"] {
	display: inline-block;
	color: #252537;

	width: 120px;
	height: 50px;

	padding: 0 20px;
	background: #edc7b8;
	border-radius: 5px;

	font-size: 16px;
	font-family: 'Abel', sans-serif;
	font-color: #5e6472;

	outline: none;
	border: 0.2mm ridge rgb(120, 20, 222, .6);

	cursor: pointer;
	text-align: center;

	margin: 7% auto;
	margin-left: 10px;
	letter-spacing: 0.05em;
}

input[id="cancel"]:hover {
	animation: ani9 0.4s ease-in-out infinite alternate;
}

@keyframes ani9 {
	0% {
		transform: translateY(3px);
	}
	100% {
		transform: translateY(5px);
	}
}
