@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #edc7b7;
	font-family: 'Vibur', cursive;
	font-family: 'Abel', sans-serif;
	opacity: .95;
}

header {
	margin: 2% auto 10% auto;
	text-align: center;
}

header h3 {
	font-size: 300%;
	font-family: 'Abel', serif;
	color: #3e403f;
	margin: 20% auto;
}

header p {letter-spacing: 0.05em;}

input[id="logout"] {
	display: inline-block;
	color: #252537;

	width: 120px;
	height: 50px;

	padding: 0 20px;
	background: #fff;
	border-radius: 5px;

	font-size: 16px;
	font-family: 'Abel', sans-serif;
	font-color: #5e6472;

	outline: none;
	border: none;

	cursor: pointer;
	text-align: center;
	transition: all 0.2s linear;

	margin: 1% auto;
	letter-spacing: 0.05em;
}

input[id="logout"]:hover {
	animation: ani9 0.4s ease-in-out infinite alternate;
}

@keyframes ani9 {
	0% {
		transform: translateY(3px);
	}
	100% {
		transform: translateY(5px);
	}
}
